*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(14, 16, 34);
}

/* !-----------Hero Section----------- */
.HeroSection{
    background-color: rgb(14, 16, 34);
    padding: 4rem 8%;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.ContianerHeroSection{
    display: flex;
}

.PragraphHero{
    background-color: rgb(123, 177, 0);
    font-weight: bold;
    /* width: 110px; */
    padding: 10px;
    border-radius: 20px;

}
.PragraphHero a{
    text-decoration: none;
    color: white;
    
}
.PragraphHero1{
    font-weight: bold;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.PragraphHero1 a{
    color: white;
    text-decoration: none;
    
}
.ParagraphHero2{
    color: gray;
    font-size: 13px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.ContainerParagraphHero{
    display: flex;
    gap: 10px;
}
.ContianerHeroSection1{
    display: flex;
    gap: 200px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}
.ContianerHeroSection1 h1{
    color: rgb(123, 177, 0);
    
}
/* !------------------ */

/* !--------Porftfolio------ */
.PortfolioSection{
    background-color:rgb(14, 16, 34) ;
    color: white;
    padding: 0rem 8%;
    font-family: 'Poppins', sans-serif;
    
}
.FirstLinePortfolio{
    display: flex;
    /* justify-content: space-between; */
    gap: 160px;
    padding: 20px 0px;
    
}
.PortfolioSection p{
    color:rgb(154, 163, 178) ;
}
.ImagePortfolio{
    border-radius: 8px;
    margin: 10px 0px;
}
.LineRightPortfolio{
    display: flex;
    gap: 20px;
    list-style: none;
}
.LineRightPortfolio li{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px 4px 0px 4px;

}
.LineRightPortfolio li:hover{
    background-color: rgb(123, 177, 0);
    border-radius: 20px;

}

.LineRightPortfolio p{
    background-color: rgb(24, 27, 44);
    color: rgb(154, 163, 178);
    border: 1px solid rgb(154, 163, 178);
    display: flex;
    border-radius: 10px;
    /* width: 100px; */
    
    
}
.ContainerPargraphPortfolio{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.IconStar{
    color: rgb(251, 191, 36);
}

.ContainerPargraphPortfolio p{
    background-color: rgb(24, 27, 44);
    color: rgb(154, 163, 178);
    border: 1px solid rgb(154, 163, 178);
    display: flex;
    /* width: 50px; */
    border-radius: 10px;
    padding: 0px 10px;
    
}
.ContainerPargraphPortfolio p:hover{
    background-color: rgb(123, 177, 0);
    border-radius: 10px;
    color: white;
}
.TitlePortfolio{
    margin: 20px 0px;
}
.TittlePortfolio{
    padding-bottom: 20px;
  

}
.ContainerBoxesPortfolio{
    display: flex;
    padding-bottom: 20px;
}
.Portfolio{
    text-align: center;
    margin-bottom: 20px;
}
.ListLinePortfolio{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* !---------Why Us Section---------- */
.WhyUsSection{
    background-color:rgb(14, 16, 34) ;
    color: white;
    padding: 0rem 8%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}


.ContainerWyUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}
.ParagraphWhyUs{
    text-align: center;
    padding-bottom: 20px;
}
.Paragraph-Whyus{
    font-size: 28px;
    padding-bottom: 20px;
}
.WhyUsLeft{
    width: 30vw;
}
.SecondLine{
    display: flex;
    height: 30vh;
    flex: 1;
    border: 1px solid rgb(143, 144, 154);
    padding: 1rem;
    margin-bottom: 20px;
    gap: 10px;
}

.ContainerSecondLine{
    display: flex;
    margin-top: 4rem;
    
}
.FirstBoxWhyUs{
    display: flex;
    height: 30vh;
    flex: 1;
    border: 1px solid rgb(147, 143, 148);
    padding: 1rem;
    margin-bottom: 20px;
    border-left: hidden;
    border-right: hidden;
    gap: 10px;
}
.ContainerSecondLine i{
    color: rgb(124, 179, 0);
    font-size: 30px;
}
.parWhyUs{
    color: rgb(125, 181, 0);
    font-size: 14px;
    
}
.Paragraphee{
    color: rgb(147, 143, 148);
}
.ContainerSecondLine h3{
    padding: 10px 0px;
}
.ContainerThirdLine{
    display: flex;
    gap: 20px;
    padding-top: 4rem;
}
.ThirdLineRight{
    display: flex;
    gap: 20px;
    padding: 2rem;
}
.ParagraphNum{
    color: rgb(123, 177, 0);
}
/* !--------Team Section--- */
..line{
    display: flex;
    justify-content: center;

    height: 0.2vh;
    background-color: rgb(118, 119, 121);
    width: 20vw;
}
.linegreen{
    height: 1vh;
    background-color: rgb(5, 168, 5);
    width: 6vw;
}




/* *header-------------------- */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: 1px;
    border-radius: 15px;
    background-color: rgb(61, 62, 86);
    padding: 5px 0px 5px 0px;
    margin: 5px;
}
.div1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-direction: row;
    color: white;
    margin-top: 5px;
    
}
.fa-brands{
    margin-bottom:10px ;
    
}
.icon1{
    font-size: 30px;
}
.div2{
    display: flex;
    gap: 15px;
    margin-left: 90%;
    /* color: white; */
    margin-top: 9px;
}
.div2 a:hover{
    background-color: rgb(117, 174, 0);
    /* color: white; */
}
a{
     text-decoration: none;
     color: white;
     
}
.div3{
    display: flex;
    flex-direction: row;
}
.linkheader{
    display: flex;
    justify-content: right;
    gap: 50px;
    /* background-color: blue; */
    margin-left: 45%;
    border: 5px;
    border-radius: 20px;
    background-color:rgb(117, 174, 0) ;
    padding: 7px 40px 7px 30px;



}
